html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}


/* CSS Stylesheet Starts Here!*/

body {
	background-image:url(../img/fern.jpg);
    background-repeat:no-repeat;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
    background-position:center;
} 
#wrapper {
	background-color:white;
	height:100%;
	width:35em;
	opacity:.8;
	border-radius:.25em;
    text-align: center;
    min-width:18em;
    margin: 5%;
    max-height: 100%;
}
#top-header {
	font-family: Raleway, sans-serif;
	font-size: 6.5em;
    color:black;
    margin-top: .2em

}
#sub-header {
    margin-top:.1em;
    font-family: Raleway, sans-serif;
    font-size:1.2em;
    font-style: italic;
}
.seperator-line {
    width: 20em;
    height: .10em;
    background-color: black;
    margin: 1em auto;
    padding-top: .007em;
}
.nav {
    font-family: Raleway, sans-serif;
    text-decoration: none;
    font-size: 1.5em;
    color: black;
    font-weight: bolder;

}
#contact{
    margin-left: 1.5em;
}

.about-text {
    font-family: Raleway, sans-serif; 
    font-size: 1.15em;
    text-align: center;
    line-height: 1.1em;
    padding-left: .5em;
    padding-right:.5em;
    margin-top: 2em;
}
#contact-heading {
    font-family: Raleway, sans-serif;
    font-size:2em;
    margin:1em;
    margin-top:2.75em;
    margin-bottom: .25em
}
.drop-me-line {
    margin-bottom: .6em;
}
