html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}


/* CSS Stylesheet Starts Here!*/


html, body {
	min-height:100%;
}
body {
	background-image: url(../img/fern2.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}
#wrapper {
	background-color: white;
	height: 100%;
	width: 30em;
	opacity: .7;
	border-radius: .25em;
    text-align: center;
    margin-left: 5em;
    margin-top: 5em;
    margin-bottom: 5em;
}
#top-header {
	font-family: Raleway, sans-serif;
	font-size: 6.5em;
	margin-bottom: -.2em;
    color: black;
    padding-top: .06em;

}
#sub-header {
    margin-top: 1em;
    font-family: Raleway, sans-serif;
    font-size: 1.2em;
    font-style: italic;
}
#seperator-line {
    width: 15em;
    height: .15em;
    background-color: black;
    margin: 1em auto;
    margin-top: 2em;
}
.nav {
    font-family: Raleway, sans-serif;
    text-decoration: none;
    font-size: 1.5em;
    color: black;
    font-weight: bolder;

}
#contact{
    margin-left: 1.5em;
}
#seperator-line2 {
    width: 15em;
    height: .15em;
    background-color: black;
    margin: 1em auto;
    margin-bottom: 2em;
}
#about-text {
    font-family: Raleway, sans-serif; 
    font-size: 1.2em;
    text-align: center;
    line-height: 1.5em;
    padding-left: .5em;
    padding-right: .5em;
}
#contact-heading {
    font-family: Raleway, sans-serif;
    font-size: 2em;
    margin: 1em;
    margin-top: 3em;
    margin-bottom: .25em
}
.drop-me-line {
    padding-bottom: 1em;
}