@media screen and (min-width: 0px) {
	#wrapper{
		width: 90%;
		margin-right: 5%;		
	}
	#top-header {
		font-size: 55px;
	}
	#sub-header {
    	font-size: 25px;
    	padding-top: 10px
	}
    .seperator-line {
    	width: 200px;
    	height: 2px;
	}
	.nav {
    	font-size: 30px;
	}
	#contact {
		margin-left: 20px
	}
	.about-text {
	    font-family: Raleway, sans-serif; 
	    font-size: 25px;
	    padding-left: 10px;
	    padding-right: 10px;
	}
	#contact-heading {
	    font-size: 40px;
	}
}

@media screen and (min-width: 450px) {
	#wrapper {
		width: 90%;
		margin-right: 5%;		
	}
	#top-header {
		font-size: 80px;
	}
	#sub-header {
    	font-size: 25px;
	}
	.seperator-line {
    	width: 240px;
    	height: 2px;
	}
	.nav {
    	font-size: 35px;
	}
	.about-text {
	    font-family: Raleway, sans-serif; 
	    font-size: 25px;
	}
}


@media screen and (min-width: 875px) {
	#wrapper{
		width: 90%;
		margin-right: 5%;		
	}
	#top-header {
		font-size: 150px;
	}
	#sub-header {
    	font-size: 30px;
	}
	.seperator-line {
    	width: 240px;
    	height: 2px;
	}
	.nav {
    	font-size: 35px;
	}
	.about-text {
	    font-family: Raleway, sans-serif; 
	    font-size: 25px;
	}
}

@media screen and (min-width: 1280px) {

	#wrapper {
		width: 750px;		
	}
	}
	#top-header {
		font-size: 140px;
	}
	#sub-header {
    	font-size: 35px;
	}
    .seperator-line {
    	width: 300px;
    	height: 2px;
	}
	.nav {
    	font-size: 45px;
	}
	.about-text {
	    font-family: Raleway, sans-serif; 
	    font-size: 25px;
	}
	#contact-heading {
	    font-size: 50px;
	}
	.contact-button {
    margin: 5px;
    width: 70px;
	}
}
